:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@font-face {
  font-family: 'AttilaSansBasic-Semibold';
  src: url('/fonts/AttilaSansBasic-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AttilaSansBasic-Regular';
  src: url('/fonts/AttilaSansBasic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AttilaSansBasic-Medium';
  src: url('/fonts/AttilaSansBasic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'AttilaSansBasic-Regular', sans-serif;
  display: flex;
  align-items: center;      /* vertical centering */
  justify-content: center;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 1rem;
}

.bold{
  font-family: 'AttilaSansBasic-Semibold', sans-serif;
}
 
a {
  text-decoration: inherit;
}
p{margin: 0;}
h4{margin: 0;}
